.tribute-container {
  position: absolute;
  top: 83.975px !important;
  left: 740.525px !important;
  height: auto;
  overflow: auto;
  display: block;
  z-index: 999999;
  min-width: 200px !important;
}
.tribute-container ul {
  margin: 0;
  margin-top: 2px;
  padding: 2px;
  list-style: none;
  background: #ffffff;
  border-bottom: 1px solid #f3f3f3;
}
.tribute-container li {
  padding: 7px 7px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
.tribute-container li.highlights {
  background: #03a9f4;
  color: #fff;
}
.tribute-container li span {
  font-weight: bold;
}
.tribute-container li.no-match {
  cursor: default;
}
.tribute-container .menu-highlighted {
  font-weight: bold;
}
