.header_custom_choice_span {
  position: absolute;
  top: 4px;
  right: 28px;
  font-size: 17px;
}
.valign {
  vertical-align: super;
}
.remove_padding {
  padding: 0px !important;
}
.box{
  overflow-x: auto;
    overflow-y: hidden;
}